PORT=3030
REDIS_URL=
DB_URL=
TTL=10
BACKEND=http://localhost:3030
NODE_ENV=development
CRUD_PASSWORD=xxxxxx
DRIVE_CREDENTIALS_FILE=credentials.json
DRIVE_PARENT_FOLDER_ID=
DRIVE_FOLDER_NAME=BoardVault
RATE_LIMIT_MAX_REQUESTS=xxx
RATE_LIMIT_WINDOW_SECONDS=xx